#file: noinspection SpringBootApplicationYaml
app:
  message:
    unsupported_link: Ссылка не поддерживается
    update: Получено обновление по ссылке на
    stackoverflow_answer_update: Получен новый [ответ](%s) на [вопрос](%s) на Stack Overflow
    github_issue_update: Добавлен новый [тикет](%s) в GitHub [репозиторий %s](%s) пользователя %s
    error: Произошла ошибка
  error_description:
    api: Некорректные параметры запроса
    server: Ошибка сервера
  command:
    common:
      message:
        unsupported_command: Команда не поддерживается
        invalid_link: Ссылка невалидна
    start:
      description: Зарегистрировать пользователя
      message:
        user_registered: >
          Вы зарегистрированы в боте. Для получения списка команд используйте команду /help
    help:
      header: Доступные команды
      description: Вывести окно с командами
    # noinspection SpellCheckingInspection
    untrack:
      description: Прекратить отслеживание ссылки
      message:
        success: Отслеживание ссылки успешно прекращено
        input: Введите ссылку для прекращения отслеживания
        no_link: |
          В сообщении нет отслеживаемой ссылки. Отправьте команду /untrack в одном сообщении со ссылкой.
          
          Например,
          /untrack https://stackoverflow.com/questions/34088780
    track:
      description: Начать отслеживание ссылки
      message:
        success: Ссылка успешно добавлена для отслеживания
        input: Введите ссылку для отслеживания
        no_link: |
          В сообщении нет ссылки для отслеживания. Отправьте команду /track в одном сообщении со ссылкой.
          
          Например,
          /track https://stackoverflow.com/questions/34088780
    list:
      header: Отслеживаемые ссылки
      message:
        no_links: У вас нет отслеживаемых ссылок
      description: Показать список отслеживаемых ссылок
  web_client:
    scrapper:
      base_url: http://localhost:8081
  rabbit_mq:
    exchange_name: scrapper_bot_exchange
    queue_name: updates_queue
server.port: 8080
springdoc:
  swagger-ui:
    path: /swagger-ui
spring:
  rabbitmq:
    listener:
      simple:
        default-requeue-rejected: false
  config:
    import: secrets.yml
